.active{
    color:red;
}

.main{
    background-color: #5ACAA7;
    width: 636px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.navbar{
    gap: 15px;
    justify-content: center;
    text-align: center;
    display: flex;
    
}

h2{
    background-color:#444AF6;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 15px;

}
